**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.[Cc]ache
**/*.[Dd]ebug
**/*.[Pp]ublish
**/bin/
**/obj/
**/[Rr]elease/
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*
**/*.user
**/*.userprefs
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/node_modules/
**/[Ll]ogs/
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/README.md
**/*.md
**/*.pdb
**/*.log